button.cta,
a.button.cta {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-family: WorkSans-Regular, sans-serif;
  height: 3em;
  width: 20rem;
  max-width: 90%;
  background-color: $burnt-orange;
  border-radius: 3px;
  color: $white;
}

a.submit-btn {
  background: $grey;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  color: $white;
  text-transform: uppercase;
  border: 0;
  padding: 20px 65px;
  margin-top: 1.25em;
  display: inline-block;
  text-decoration: none;
}

a.submit-btn span {
  position: relative;
}

a.submit-btn span::after {
  content: '';
  width: 18px;
  height: 17px;
  background: url('../../../img/variant-c/next-arrow.png') no-repeat scroll 0 0;
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: -26px;
}

@media screen and (max-width: 767px) {
  a.submit-btn {
    margin-top: .5em;
 }
}

@media screen and (max-width: 480px) {
  a.submit-btn {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
   }
}
