@font-face {
  font-family: HelveticaNeue;
  src: url("/fonts/helvetica-neue/regular/helvetica-neue.woff") format("woff");
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('/fonts/helvetica-neue/thin/helvetica-neue-thin.eot') format('embedded-opentype'), url('/fonts/helvetica-neue/thin/helvetica-neue-thin.woff2') format('woff2'),
  url('/fonts/helvetica-neue/thin/helvetica-neue-thin.woff') format('woff'),
  url('/fonts/helvetica-neue/thin/helvetica-neue-thin.ttf') format('truetype');
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("/fonts/helvetica-neue/bold/helvetica-neue-bold.otf") format("opentype"), url("/fonts/helvetica-neue/bold/helvetica-neue-bd.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeue-Italic;
  src: url("/fonts/helvetica-neue/italic/helvetica-neue-italic.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("/fonts/helvetica-neue/medium/helvetica-neue-medium.woff") format("woff");
}


@font-face {
  font-family: HelveticaNeue-Light;
  src: url("/fonts/helvetica-neue/light/helvetica-neue-light.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue-Condensed-Bold;
  src: url("/fonts/helvetica-neue/condensed-bold/helvetica-neue-condensed-bold.otf") format("opentype");
}
