@font-face {
  font-family: 'Souvenir-BoldItalic';
  src: url('/fonts/souvenir/bold-italic/31FA6C_1_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/bold-italic/31FA6C_1_0.woff2') format('woff2'),
  url('/fonts/souvenir/bold-italic/31FA6C_1_0.woff') format('woff'),
  url('/fonts/souvenir/bold-italic/31FA6C_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-Light';
  src: url('/fonts/souvenir/light/31FA6C_2_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/light/31FA6C_2_0.woff2') format('woff2'),
  url('/fonts/souvenir/light/31FA6C_2_0.woff') format('woff'),
  url('/fonts/souvenir/light/31FA6C_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-DemiItalic';
  src: url('/fonts/souvenir/demi-italic/31FA6C_3_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/demi-italic/31FA6C_3_0.woff2') format('woff2'),
  url('/fonts/souvenir/demi-italic/31FA6C_3_0.woff') format('woff'),
  url('/fonts/souvenir/demi-italic/31FA6C_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-Medium';
  src: url('/fonts/souvenir/medium/31FA6C_4_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/medium/31FA6C_4_0.woff2') format('woff2'),
  url('/fonts/souvenir/medium/31FA6C_4_0.woff') format('woff'),
  url('/fonts/souvenir/medium/31FA6C_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-LightItalic';
  src: url('/fonts/souvenir/light-italic/31FA6C_5_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/light-italic/31FA6C_5_0.woff2') format('woff2'),
  url('/fonts/souvenir/light-italic/31FA6C_5_0.woff') format('woff'),
  url('/fonts/souvenir/light-italic/31FA6C_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-MediumItalic';
  src: url('/fonts/souvenir/medium-italic/31FA6C_0_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/medium-italic/31FA6C_0_0.woff2') format('woff2'),
  url('/fonts/souvenir/medium-italic/31FA6C_0_0.woff') format('woff'),
  url('/fonts/souvenir/medium-italic/31FA6C_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-Bold';
  src: url('/fonts/souvenir/bold/31FA6C_6_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/bold/31FA6C_6_0.woff2') format('woff2'),
  url('/fonts/souvenir/bold/31FA6C_6_0.woff') format('woff'),
  url('/fonts/souvenir/bold/31FA6C_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Souvenir-Demi';
  src: url('/fonts/souvenir/demi/31FA6C_7_0.eot') format('embedded-opentype'),
  url('/fonts/souvenir/demi/31FA6C_7_0.woff2') format('woff2'),
  url('/fonts/souvenir/demi/31FA6C_7_0.woff') format('woff'),
  url('/fonts/souvenir/demi/31FA6C_7_0.ttf') format('truetype');
}
